@media only screen and (max-width: 576px){
    .container{
        width: 90%;
    }

    header {
        flex-wrap: wrap;
    }
    .logo {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    header{

    }
    .menu ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .banner_main {
        padding: 50px 0 45px 0;
    }
    .banner_header {
        width: 80%;
    }
    .banner_header h2 {
        font-size: 40px;
    }


    /* feature section  */
    .features_flex {
        grid-template-columns: repeat(1, 1fr);
    }
    .feature_content {
        padding-top: 65px;
        text-align: center;
    }
    .feature_content h2 {
        margin-right:0;
    }
    .feature_content p {
        margin-right: 0;
    }

    /* feature enjoy */
    .enjoy_contents {
        grid-template-columns: repeat(1, 1fr);
    }
    .enjoy_right {
        margin-top: 30px;
    }

    .enjoy_right img {
        width: 100%;
    }
    .year_box {
        bottom: -85px;
        left: 115px;
    }


    /* some fact section  */
    .somfact_hed {
        width: 100%;
        margin-bottom: 60px;
        text-align: center;
    }
    .fact_parent {
        flex-wrap: wrap;
    }
    .fact_box {
        margin-bottom: 30px;
    }
    .some_facts {
        padding: 80px 0;
    }


    /* sponsor */
    .sponspors_hed p {
        margin: 0 2%;
    }

    .sponspors_featurse {
        flex-wrap: wrap;
        justify-content: center;

    }
    .sponspors_feature {
        width: 50%;
        margin-bottom: 50px;
        text-align: center;
    }
    .sponspors_feature img {
        width: 60%;
    }

    /* footer  */
    footer {
        padding: 25px 0;
    }
}